html{
    font-size: 16px;
}


body{
    background-color: #f7ecde;
    font-family: "PT Sans Caption", sans-serif;
}


header h1{
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    color: #352e28;
    position: relative;
}

header h1::before{
    content: "";
    height: 30%;
    background-color: #fec260;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    margin: auto;
    bottom: 7%;
    transition: all 350ms;
}

header h1:hover::before{
    height: 60%;
}

.section-caption{
    border-style: dotted;
    border-width: 2px 0 2px 0 ;
}

.section-caption h2{
    font-family: "Righteous", cursive;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-caption input:focus{
    color: #212529;
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

.section-caption button{
    background-color: #d1512d;
    border-color: #d1512d;
    color: #fff;
}

.section-caption button:hover{
    background-color: #bb4120;
    color: #fff;
}

::selection {
    background-color: #fec260;
    color: #352e28;
}


.w-80{
    width: 80%;
}

.btn-green{
    background-color: #9eb23b;
}

.btn-red{
    background-color: #eb1d36;
}

tbody .btn-green:hover{
    background-color: #8a9e23;
}

tbody .btn-red:hover{
    background-color: #d30820;
}


@media  screen and (max-width: 483px){
    html{
        font-size: 10px;
    }
}